<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{mainTitle}}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete <span [class.text-primary]="shouldItemNameHighlited">{{itemName}}</span>?</strong></p>
  <p>{{msg}}</p>
  <span *ngIf="isDangerMsgAvailable" class="text-danger">{{dangerMsg}}</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">{{cancelBtnLabel}}</button>
  <button type="button" class="btn btn-danger" (click)="onSubmitPressed()">{{submitBtnLabel}}</button>
</div>
