<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="shadow-sm card rounded 0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">

        <form #userForm="ngForm" class="form">
          <div class="form-group">
            <label for="">Full name</label>
            <input #fullName="ngModel" [(ngModel)]="userRegister.fullName" name="fullName" type="text" class="form-control rounded-0" [class.is-invalid]="fullName.invalid && fullName.touched" required>
            <div *ngIf="fullName.errors && (fullName.invalid && fullName.touched)">
              <small class="text-danger" *ngIf="fullName.errors.required" >Full name is required</small>
            </div>
          </div>
          <div class="form-group">
            <label for="">Username</label>
            <input #userName="ngModel" [(ngModel)]="userRegister.username" name="username" type="text" class="form-control rounded-0" [class.is-invalid]="userName.invalid && userName.touched" required>
            <div *ngIf="userName.errors && (userName.invalid && userName.touched)">
                  <small class="text-danger" *ngIf="userName.errors.required" >Username is required</small>
             </div>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input #password="ngModel" minlength="6" [(ngModel)]="userRegister.password" name="password" type="password" class="form-control rounded-0" [class.is-invalid]="password.invalid && password.touched" required>
            <div *ngIf="password.errors && (password.invalid && password.touched)">
                  <small class="text-danger" *ngIf="password.errors.required" >Password is required</small>
                  <small class="text-danger" *ngIf="password.errors.minlength" >Password should contain at least 10 characters</small>
             </div>
          </div>

          <button [disabled]="userForm.form.invalid" (click)="register()" class="btn btn-primary float-right" type="button">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
