.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.menu-header-icon {
  color: white;
  cursor: pointer;
}

.menu-item-icon {
  color: white;
}

.menu-item {
  color: white;
  padding: 15px 45px 15px 25px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #3b4046;
}

.menu-item:focus {
  background-color: #696b6d;
  outline:0;
}

.menu-item-active {
  background-color: #696b6d;
  outline:0;
}
