<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <fa name="bars" class="fa-2x mr-4 ml-2 menu-icon" (click)="toggleSidebar()"></fa>
      <a class="navbar-brand" routerLink="/products">ProductHUB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-products" routerLinkActive="active">My Products</a>
          </li>
        </ul>
        <ul class="navbar-nav">
            <a class="nav-link" *ngIf="!loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
            <a class="nav-link" *ngIf="!loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
            <a class="nav-link" style="cursor:pointer" *ngIf="loggedIn()" routerLink="/profile" routerLinkActive="active">{{getUserFullName()}}</a>
            <a class="nav-link" style="cursor:pointer" *ngIf="loggedIn()" (click)="logOut()">Logout</a>
        </ul>
      </div>
    </nav>

<ng-sidebar-container class="ng-sidebar--over" style="height: 100vh">
  <ng-sidebar [autoCollapseWidth]="100" [autoFocus]="false" [(opened)]="isSidebarOpened">
    <div class="bg-dark" style="height: 100%">
      <div class="p-3">
        <fa name="user-circle" class="fa-3x menu-header-icon"></fa>
        <h5 class="pt-3 menu-icon">{{getUserFullName()}}</h5>
          </div>
      <ul class="list-unstyled">
        <li class="menu-item" routerLink="/products" routerLinkActive="menu-item-active">
          <fa name="reply-all" class="mr-4 menu-item-icon"></fa>
          All products
        </li>
        <li class="menu-item" routerLink="/my-products" routerLinkActive="menu-item-active">
          <fa name="code-branch" class="mr-4 menu-item-icon"></fa>
          My Products
         </li>
        <li class="menu-item" routerLinkActive="active">
          <fa name=cog class="mr-4 menu-item-icon"></fa>
          Settings
         </li>
        <li class="menu-item" routerLink="/profile" routerLinkActive="menu-item-active">
          <fa name="user" class="mr-4 menu-item-icon"></fa>
          Profile
        </li>
          </ul>
    </div>

  </ng-sidebar>

  <div ng-sidebar-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-sidebar-container>
