<div class="row pt-3">
</div>

<div *ngIf="sessionExpired" class="col-md-6 mx-auto alert alert-danger alert-dismissible fade show mt-3" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading text-center">Session expired</h4>
  <p class="mb-0 text-center pt-1">Please login again</p>
</div>

<div *ngIf="registered" class="col-md-6 mx-auto alert alert-success alert-dismissible fade show mt-3" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading text-center">Registration successful</h4>
  <p class="mb-0 text-center pt-1">Please login to continue</p>
</div>

<div *ngIf="loginError" class="col-md-6 mx-auto alert alert-danger alert-dismissible fade show mt-3" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="mb-0 text-center">{{loginErrorMsg}}</p>
</div>

<div class="row pt-3">
  <div class="col-md-6 mx-auto">
    <div class="shadow-sm card rounded 0">
      <div class="card-header">
        <h3 class="m-2">Login</h3>
      </div>
      <div class="card-body">

        <form #loginForm="ngForm" class="form m-2">
          <div class="form-group">
            <label for="">Username</label>
            <input #username="ngModel" [(ngModel)]="user.username" name="username" type="text" class="form-control rounded-0" [class.is-invalid]="username.invalid && username.touched" required>
            <div *ngIf="username.errors && (username.invalid && username.touched)">
                <small class="text-danger" *ngIf="username.errors.required" >Username is required</small>
           </div>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input #password="ngModel" [(ngModel)]="user.password" name="password" type="password" class="form-control rounded-0" [class.is-invalid]="password.invalid && password.touched" required>
            <div *ngIf="password.errors && (password.invalid && password.touched)">
                <small class="text-danger" *ngIf="password.errors.required" >Password is required</small>
            </div>
          </div>
          <button [disabled]="loginForm.form.invalid" (click)="login()" class="btn btn-success float-right btn-block btn-lg mt-3 mb-3" type="button">Login</button>
        </form>

      </div>
    </div>
  </div>
</div>
