<div class="row mt-5">

  <div class="container mb-5">
    <div class="row justify-content-between">
      <h3 class="col-md-4">All Products</h3>
    </div>
  </div>

  <div class="col-md-4 mb-3" *ngFor="let product of products">
    <div class="shadow-sm card text-center">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{makeProductCountStr(product.count)}}</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
      <div class="card-footer text-muted">
        {{product.user.fullName}}
      </div>
    </div>
  </div>
</div>
