<div>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
      <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #productForm="ngForm">
        <div class="form-group">
          <label for="productName" class="col-form-label">Product name<span>*</span></label>
          <input #productName="ngModel" [(ngModel)]="product.name" type="text" class="form-control" name="productName" id="productName" required>
          <div *ngIf="productName.errors && (productName.invalid && productName.touched)">
            <small class="text-danger" *ngIf="productName.errors.required" >Product name is required</small>
          </div>
        </div>

        <div class="form-group">
          <label for="itemCount" class="col-form-label">Item count<span>*</span></label>
          <input #itemCount="ngModel" [(ngModel)]="product.count" min="minCount" type="number" class="form-control" name="itemCount" id="itemCount" required>
        <small *ngIf="itemCount.errors && itemCount.invalid  && itemCount.touched && itemCount.errors.required" class="text-danger" >Product item count is required</small>
        <small *ngIf="minErrorOccured() && itemCount.valid  && itemCount.touched" class="text-danger">Product item count should be larger than 0</small>
        </div>
      </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
        <button [disabled]="productForm.form.invalid || minErrorOccured()" (click)="onSubmitBtnClicked()" type="button" class="btn btn-primary">{{submitBtnLabel}}</button>
    </div>
  </div>
</div>
