<div class="row mt-5">

  <div class="container mb-5">
    <div class="row justify-content-between">
      <h3 class="col-md-4">My Products</h3>
      <button (click)="showAddProduct()" class="btn btn-primary mr-3 shadow-sm">Add New Product</button>
    </div>
  </div>

  <div *ngIf="products.length === 0" class="container alert alert-light m-5 text-center" role="alert">
    <strong>No products found</strong>
    <p>Click Add New Product to add a new one</p>
  </div>

  <div class="col-md-4 mb-3" *ngFor="let product of products">
    <div class="shadow-sm card text-center">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{makeProductCountStr(product.count)}}</p>
        <a href="#" class="btn btn-success">Buy Now</a>
      </div>
      <div class="card-footer text-muted">
        <div class="row vertical-center">
          <div class="col control-btn" (click)="editProduct(product)">
            <fa name="pen"></fa>
            <span class="ml-2">Edit</span>
          </div>
          <div class="col control-btn" (click)="deleteProduct(product)">
            <fa name="trash-alt"></fa>
            <span class="ml-2">Delete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
